mat-card {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 230px;
  margin-right: 230px;
  color: white;
  background-color: dodgerblue;
}
mat-card-title{
  text-align: center;
}
mat-card-subtitle{
  margin-left: 50px;
}
button {
  position: center;
  background-color: mediumorchid;
}
