mat-card {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-right: 200px;
  color: white;
  background-color: dodgerblue;
}
button {
  display: inline-block;
  margin-right: 20px;
  position: center;
  background-color: mediumorchid;
}
ng-container{
  margin-left: 230px;
  margin-right: 230px;
}
